body{
    background-color: bisque;
}
img{
    max-width: 100%;
    max-height: 100%;
    display:block; /* remove extra space below image */
}
.container{
    width: 1300px; 
    height: 350px;       
    border: 3px solid black;
}    
.box{
    width: 1300px; 
    height: 350px;       
    border: 3px solid black;
}
.things{
    width: 1300px; 
    height: 350px;       
    border: 3px solid black;
}
h1{
    font-size: xx-large;
    font-family: Georgia;

}
ul{
    line-height: 2;
}
p{
    font-size:larger;
    font-weight: 400;
}
h2{
    font-size: x-large;
    font-family: Georgia;
}
h3{
    font-size: x-large;
    font-family: Georgia;
}
h4{
    font-size: x-large;
    font-family: Georgia;
}
